* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.page_wrapper {
  background-color: #111;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333;
  color: #fefefe;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid black;
  padding: 0.5em 8px;
}

.header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 970px;
  flex: 1 1 970px;
  flex-wrap: wrap;
}

.header__left {
  display: flex;
}

.header__left img {
  margin-right: 16px;
}

.header__right {
  font-family: "Social";
}

.header__nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.header__nav li {
  padding-right: 24px;
  font-size: 110%;
  font-weight: 700;
}

.header__nav a {
  color: inherit;
  text-decoration: none;
}

.header__nav a:hover {
  border-bottom: 4px solid #1a64a7;
}

.header__slimebreaker {
  color: #1a64a7;
}

.header__social-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.header__mobile-wrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 0.8em 12px;
  }

  .header__inner-wrapper {
    display: none;
  }

  .header__mobile-wrapper {
    display: block;
  }

  .header__inner-wrapper {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding-left: 8px;
    background-color: #111;
    flex-direction: column;
  }

  .header__inner-wrapper--open {
    display: block;
  }

  .header__nav {
    flex-direction: column;
    align-items: start;
    margin-bottom: 16px;
  }

  .header__nav li {
    margin-top: 16px;
  }

  .header__social-nav li:first-child {
    padding-left: 0;
  }

  .header__left img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -48px;
    /* left: 35vw; */
    left: 0;
    right: 0;
  }
}

.mobile-menu {
  flex: 1 1 600px;
}

.menu-button {
}

.menu-button div {
  width: 35px;
  height: 5px;
  background-color: #fefefe;
  margin: 6px 0;
}

.mobile-menu__body {
  height: 300px;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #111;
}

.mobile-menu__body--closed {
  display: none;
}

.mobile-menu__body--open {
  display: block;
}

.header__social-nav li {
  padding-left: 16px;
}

.header__social-nav li:first-child {
  margin-top: 8px;
}

.header__social-nav a {
  color: #fefefe;
  text-decoration: none;
}

.header__social-nav i {
  color: #fefefe;
  text-decoration: none;
  font-size: 1.8em;
  padding-bottom: 8px;
}

.header__social-nav li:first-child i {
  padding-bottom: 4px;
}

.header__social-nav i:hover {
  border-bottom: 4px solid #1a64a7;
}

.content {
  display: flex;
  justify-content: center;
  padding-bottom: 50vh;
  background-color: #222;
}
.content__inner-wrapper {
  flex: 1 1 970px;
  max-width: 970px;
}

.content img {
  border-bottom: 2px solid black;
  width: 100%;
  height: auto;
}
