* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.page_wrapper {
  background-color: #111;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333;
  color: #fefefe;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  padding: 0.5em 0;
}

.header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 970px;
  flex: 1 1 970px;
}

.header__left {
}

.header__right {
  font-family: "Social";
}

.header__nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.header__nav li {
  padding-right: 24px;
  font-size: 110%;
  font-weight: 700;
}

.header__nav a {
  color: inherit;
  text-decoration: none;
}

.header__nav a:hover {
  border-bottom: 4px solid #1a64a7;
}

.header__slimebreaker {
  color: #1a64a7;
}

.header__social-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header__social-nav li {
  padding-left: 16px;
}

.header__social-nav li:first-child {
  margin-top: 8px;
}

.header__social-nav a {
  color: #fefefe;
  text-decoration: none;
}

.header__social-nav i {
  color: #fefefe;
  text-decoration: none;
  font-size: 2.2em;
  padding-bottom: 8px;
}

.header__social-nav li:first-child i {
  padding-bottom: 4px;
}

.header__social-nav i:hover {
  border-bottom: 4px solid #1a64a7;
}

.content {
  display: flex;
  justify-content: center;
  padding-bottom: 50vh;
  background-color: #222;
}
.content__inner-wrapper {
  flex: 1 1 970px;
  max-width: 970px;
}

.content img {
  border-bottom: 2px solid black;
  width: 100%;
  height: auto;
}
