* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #fefefe;
}

.page_wrapper {
  /* background-color: blue; */
  min-height: 1200px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #222;
  color: #fefefe;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  padding: 0.5em 8px;
}

.header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 970px;
  flex: 1 1 970px;
  flex-wrap: wrap;
}

.header__left {
  display: flex;
}

.header__left img {
  margin-right: 16px;
}

.header__right {
  font-family: "Social";
}

.header__nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.header__nav li {
  padding-right: 24px;
  font-size: 120%;
  font-weight: 700;
}

.header__nav a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 4px;
}

.header__nav a:hover {
  border-bottom: 4px solid #1a64a7;
}

.header__link--active {
  color: #1a64a7;
}

.header__social-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.header__mobile-wrapper {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 0.8em 12px;
  }

  .header__inner-wrapper {
    /* display: none; */
    visibility: hidden;
  }

  .header__mobile-wrapper {
    display: block;
    visibility: visible;
  }

  .header__inner-wrapper {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    padding-left: 8px;
    background-color: #111;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 16px;
  }

  .header__inner-wrapper--open {
    visibility: visible;
  }

  .header__nav {
    flex-direction: column;
    align-items: start;
    margin-bottom: 32px;
    padding-left: 8px;
  }

  .header__nav li {
    margin-top: 24px;
  }

  .header__social-nav {
    padding-left: 8px;
  }

  .header__social-nav li:first-child {
    padding-left: 0;
  }

  .header__left img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -54px;
    left: 0;
    right: 0;
    visibility: visible;
  }
}

.mobile-menu {
  flex: 1 1 600px;
}

.menu-button {
  padding-left: 8px;
}

.menu-button div {
  width: 35px;
  height: 5px;
  background-color: #fefefe;
  margin: 6px 0;
}

.mobile-menu__body {
  height: 300px;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #111;
}

.mobile-menu__body--closed {
  display: none;
}

.mobile-menu__body--open {
  display: block;
}

.header__social-nav li {
  padding-left: 16px;
}

.header__social-nav li:first-child {
  margin-top: 8px;
}

.header__social-nav a {
  color: #fefefe;
  text-decoration: none;
}

.header__social-nav i {
  color: #fefefe;
  text-decoration: none;
  font-size: 1.8em;
  padding-bottom: 4px;
}

.header__social-nav li:first-child i {
  padding-bottom: 0px;
}

.header__social-nav i:hover {
  border-bottom: 4px solid #1a64a7;
}

.content {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding-bottom: 16px;
}
.content__inner-wrapper {
  margin-top: 16px;
  flex: 1 1 970px;
  max-width: 970px;
  background-color: #292929;
}

.index__hero {
  border-bottom: 2px solid black;
  width: 100%;
  height: auto;
}

.content__body {
  color: #fefefe;
  padding: 8px 16px;
}

.content__body span {
  font-style: italic;
}

.content__blurb {
  font-size: 130%;
  line-height: 1.4;
  margin-bottom: 16px;
}

.content__blurb--bigger {
  font-size: 140%;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 8px;
}

#mc_embed_signup_scroll {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin-top: -16px;
  width: 100%;
}

#mc_embed_signup_scroll div {
  margin-top: 16px;
}

#mce-EMAIL {
  font-size: 140%;
  padding: 4px;
  height: 32px;
  margin-right: 16px;
}

#mc-embedded-subscribe {
  font-size: 130%;
  height: 100%;
  padding: 0 8px;
  color: #333;
  font-weight: 700;
}

.footer {
  color: #fefefe;
  background-color: #030303;
  flex: 1 1 100px;
  text-align: center;
  padding-top: 48px;
}

.devlog {
  color: #fefefe;
  padding: 16px;
  padding-bottom: 0;

  &__list {
    list-style-type: none;
  }

  &__post {
    background-color: #1a1a1a;
    margin-bottom: 16px;
  }

  &__link {
    color: #fefefe;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  &__post-body {
    padding: 8px;
    flex: 1 0 100px;
  }

  &__post-title {
    font-size: 120%;
    font-weight: 700;
    margin-bottom: 4px;
  }

  &__image {
    height: 100px;
    margin: 8px;
  }

  &__meta {
    background-color: #333;
    padding: 4px;
    display: flex;
    flex: 0 1 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__month_day {
    font-size: 130%;
    // flex: 1 1 20px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &__year {
    display: flex;
    justify-content: center;
  }

  &__author {
    margin-top: 16px;
    font-size: 130%;
  }
}

.post {
  padding: 16px;
  padding-bottom: 0;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;

    h1 {
      margin: 0;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 16px;
    background-color: #444;
    padding-right: 8px;
  }

  &__back {
    color: #fefefe;
    text-decoration: none;
    font-size: 150%;
    margin-right: 8px;
    background-color: #555;
    padding: 8px;
  }

  &__back:hover {
    background-color: #666;
  }

  &__body p {
    margin: 16px 0;
  }
}
