---
layout: default
---

{{ content }}
<div class="devlog">
    <ul class="devlog__list">
    {% for post in site.posts %}
        <li class="devlog__post">
            <div class="devlog__post-body">
                <a class="devlog__link" href="{{ post.url }}">{{ post.title}}</a>
            </div>
            <div class="devlog__date">
               <div class="devlog__month_day">
                    {{ post.date | date: '%b %m' }}
                </div> 
               <div class="devlog__year">
                    {{ post.date | date: '%Y' }}
                </div> 
            </div>
        </li>
    {% endfor %}
    </ul>
</div>